* {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px; }

.mainDiv {
  flex: 0 0 360px;
  height: 640px;
  background-color: #9BC5D4; }

.searchButton {
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 2px;
  border: 1px solid #0E5B75;
  border-radius: 3px;
  background-color: #2E88A6; }

.searchInput {
  height: 25px;
  margin-left: 10px;
  margin-top: 10px; }
